.divHeader .divSlideMenu{
    position : fixed;
    top :0;
    left :00%;
    width : 100%;
    height : 100%;
    background: orange;
    z-index: 1;
    transition: all ease-in-out 0.3s;
}
.divHeader .divSlideMenu ul.dvMenu{
    list-style: none;
}
.divHeader .divSlideMenu ul.dvMenu li a{
    display: block;
    background-color: orangered;
    padding: 1rem;
    border: 1px solid orange;
    background-color: #bd7d08;
    color: white;
}
.divHeader .divSlideMenu .closeBtn{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}


@media(min-width:992px){
    .divHeader .divSlideMenu{
        position : static;
        top :auto;
        left :auto;
        width : auto;
        height : auto;
        background: transparent;
        z-index: inherit;
        transition: all ease-in-out 0.3s;
    }
    .divHeader .divSlideMenu ul.dvMenu li{
        display: inline-block;
    }
    .divHeader .divSlideMenu ul.dvMenu li a{
        display: inline-block;
        background-color: white;
        padding: 1rem;
        border: none;
        color: #000;
    }
}