:root{
  --primary-color : #DABB1C;
  --black-color : #000000;
  --white-color : #ffffff;
  --b-radius : 4px;
  -fs-lg : 3rem;
  --fs-md : 1.25rem;
  --fs-sm :1rem
}
body{
  font-size: 1rem;
  color: var(--black-color);
}
/* anchor */
a{
  display: inline-block;
  text-decoration: none;
}

.img-fluid{
  max-width: 100%;
}

/* heading */
.heading-lg{
  font-size :var(--fs-lg);
}
.heading-md{
  font-size: var(--fs-md);
}
.heading-sm{
  font-size: var(--fs-sm);
}

/* butttons */

.btn{
  outline : 0;
  display: inline-block;
  border : 1px solid #ddd;
  color : var(--black-color);
  padding : .5rem 1rem;
  cursor: pointer;
  border-radius: var(--b-radius);
}
.btn-black{
  background-color: var(--black-color);
  color : var(--white-color)
}
.btn-black:hover{
  background-color: var(--white-color);
  color : var(--black-color)
}
@media(min-width:990px){
  :root{
    --fs-lg : 4rem;
    --fs-md :1.5rem
  }
}